<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887909262113-0kadtb0d9prbqht2imtjellp5mupsbi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887909262113-0kadtb0d9prbqht2imtjellp5mupsbi4</string>
	<key>API_KEY</key>
	<string>AIzaSyCCQlBmgYMXJGwqioBHQxaUjYeelaKZ7ig</string>
	<key>GCM_SENDER_ID</key>
	<string>887909262113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.let.themknow</string>
	<key>PROJECT_ID</key>
	<string>let-them-know-x</string>
	<key>STORAGE_BUCKET</key>
	<string>let-them-know-x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887909262113:ios:1ae12688ccd6d518d99460</string>
	<key>DATABASE_URL</key>
	<string>https://let-them-know-x.firebaseio.com</string>
</dict>
</plist>